html {
  font-family: Helvetica;
  display: inline-block;
  margin: 0px auto;
  text-align: center;
}

body {
  margin-top: 30px;
}

h3 {
  margin-top: -10px;
  padding-bottom: 20px;
}

h4 {
  margin-bottom: 10px;
}

p {
  font-size: 14px;
  color: #888;
  margin-top: 0px;
  margin-bottom: 10px;
}

.button {
  display: block;
  width: 100px;
  background-color: #3498db;
  border: none;
  color: white;
  padding: 10px 16px;
  text-decoration: none;
  font-size: 18px;
  margin: 0px auto 45px;
  cursor: pointer;
  border-radius: 4px;
}

.button-format {
  background-color: #3498db;
}

.button-format:active {
  background-color: #2980b9;
}

input {
  position: relative;
  display: inline-block;
  font-size: 20;
  box-sizing: border-box;
  transition: 0.5s;
  margin-top: 5px;
}

input[type="text"] {
  background: #fff;
  width: 200px;
  height: 35px;
  outline: none;
  padding: 0 25px;
  border-radius: 20px 0 0 20px;
}

input[type="submit"] {
  position: relative;
  left: -2px;
  width: 65px;
  height: 35px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 0 20px 20px 0;
  background: #3498db;
  color: #fff;
}

input[type="submit"]:active {
  background: #2980b9;
}

img {
  width: 280px;
}
